@font-face {
  font-family: Hack;
  src: url(Hack.ttf);
}

#glossbox {
   font-family: Hack;
   line-height: 2;
}

.morpheme {
  border-bottom: 3px dotted #d3d3d3;
  cursor: pointer;
  transform: scaleX(50%);
}

#tooltip {
  position: absolute;
  background-color: #424242;
  padding: 5px 25px;
  width: auto;
  color: white;
  display: none;
  font-family: Hack;
}
span[gloss='1SG'] {
	border-color: #90EE90; color: #90EE90;
}

span[gloss='PRS'] {
	border-color: #696969; color: #696969;
}

span[gloss='INE'] {
	border-color: #DCDCDC; color: #DCDCDC;
}

span[gloss='PL'] {
	border-color: #4169E1; color: #4169E1;
}

span[gloss='IMP'] {
	border-color: #E9967A; color: #E9967A;
}

span[gloss='3PL'] {
	border-color: #A0522D; color: #A0522D;
}

span[gloss='DEF'] {
	border-color: #DC143C; color: #DC143C;
}

span[gloss='F'] {
	border-color: #FAEBD7; color: #FAEBD7;
}

span[gloss='DAT'] {
	border-color: #20B2AA; color: #20B2AA;
}

